.data-row{margin-right:-15px;margin-left:-15px;height:100px}
.scan-list, .form-control{margin-bottom:20px}
.col-center{
    margin: auto;
    width: 20%;
    padding: 10px;
}

td {
padding: 10px;
}

.centerBlock{
            display: table;
            margin: 0 auto;
            }

select[multiple].scan-list{
    padding: 0 24px
}

.margin-info{
    position: absolute;
    top:60px;
    right:40px;
}

.bootbtn{
    position: absolute;
    left: 550px;
    z-index: 1;
}

.bootlbl{
    position: absolute;
    left: 398px;
    top:241px;
    z-index: 1;
}

.highlight{background-color: #2465bf;}

.lightlight{background-color: #7498c9;}

.ssModalFooter{
    position: relative;
    height:50px;
    width:auto;
}

.ssModalBody{
    position: relative;
    height:200px;
    width:auto;
}

.columnEdit{
    border-radius: 10px;
    border: 1px;
}

.sessionName{ position:absolute; top: 105px; left:150px; font-weight:bold; border:1px dotted; padding:10px;}

.content-height .ui-dialog-content{
    height: 80px;
}

.saveSes{
    position: relative;
    left: 180px;
    bottom: 0px;
}

.fitBtn{
    position: relative;
    left: 510px;
    bottom: 67px;
}

.input-group{
    position: relative;
    top: 20px;
    width: 488px;
    left: 25px;
}

.HRM-select{
    position: relative;
    bottom: 13px;
    left: 164px;
}

.doneBtn{
    position: relative;
    bottom: 150px;
    left: 1000px;
}

.fitMeth{
    position: relative;
    left: 425px;
    bottom: 20px;
}

.peakWidth{
    position: relative;
    width: 380px;
    top: 34px;
    left: 25px;
}

.fitGroup{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #3d75c0;
    border-radius: 5px;
    width: 510px;
    right: 20px;
    top: 10px;
}

.splitInput.input-group input{
    width: 50%;
}

body{
    width: 100%;
    margin: auto;
}