.data-row{margin-right:-15px;margin-left:-15px;height:100px}
.scan-list, .form-control{margin-bottom:20px}
.col-center{
    margin: auto;
    width: 20%;
    padding: 10px;
}

td {
padding: 10px;
}

.centerBlock{
            display: table;
            margin: 0 auto;
            }

select[multiple].scan-list{
    padding: 0 24px
}

.margin-info{
    position: absolute;
    top:60px;
    right:40px;
}

.bootbtn{
    position: absolute;
    left: 550px;
    z-index: 1;
}

.bootlbl{
    position: absolute;
    left: 398px;
    top:241px;
    z-index: 1;
}