.proInfo{
    float: left;
    margin-right: 500px;
    margin-top: 20px;
}

.notifications{
    float: left;
}

.pageInfo{
    margin-top: 200px;
    display: inline-block;
}

.proCell{
    padding: 10px;
}

.shorten{
    width: 200px;
    margin-top: -5px;
}

.updateBtn{
    margin-top: 20px;
}

.margin-info{
    margin-top: 60px;
    margin-right: 10px;
}

.margin-text{
    font-size: 100% !important;
}