.data-row{margin-right:-15px;margin-left:-15px;height:100px}
.scan-list, .form-control{margin-bottom:20px}
.col-center{
    margin: auto;
    width: 20%;
    padding: 10px;
}

td {
padding: 10px;
}

.centerBlock{
            display: table;
            margin: 0 auto;
            }

select[multiple].scan-list{
    padding: 0 24px
}

.margin-info{
    position: absolute;
    top:60px;
    right:40px;
}

.bootbtn{
    position: absolute;
    left: 550px;
    z-index: 1;
}

.bootlbl{
    position: absolute;
    left: 398px;
    top:241px;
    z-index: 1;
}

.highlight{background-color: #7498c9;}

.lightlight{background-color: #e6f2ff;}

.ssModalFooter{
    position: relative;
    height:50px;
    width:auto;
}

.ssModalBody{
    position: relative;
    height:200px;
    width:auto;
}

.columnEdit{
    border-radius: 10px;
    border: 1px;
}

.sessionName{ position:absolute; top: 105px; left:150px; font-weight:bold; border:1px dotted; padding:10px;}

.content-height .ui-dialog-content{
    height: 80px;
}

.saveSes{
    position: relative;
    left: 180px;
    bottom: 50px;
}

.maxLabel{
    position: relative;
    right: 770px;
    top: 0px;
}

.legend{
    position: relative;
}

.maxdata{
    position: relative;
    right:100px;
}

.plot{
    position: relative;
    bottom: 80px;
}

.input-group{
    position: relative;
    left: 200px;
    top: 40px;
    width: 230px;
}

.binLabel{
    position: relative;
    top: 70px;
    left: 130px;
}

.linearRad{
    position: relative;
    top: 30px;
    left: 16px;
}

.linLabel{
    position: relative;
    top: 27px;
    right: 8px;
}

.settings{
    margin-left: -10%;
    float: left;
}