.scan-list, .form-control{margin-bottom:20px}

td {
    padding: 10px;
}

.allCols{
    display: inline-block;
    text-align: center;
}

.highlight{background-color: #2465bf;}

.lightlight{background-color: #7498c9;}

@media (min-width: 768px){
    .margin-info{
        margin-top: -90px;
        margin-right: -50px;
    }
}

@media (max-width: 767px){
    .margin-info{
        margin-top: -50px;
        margin-right: -10px;
    }
}

.margin-text{
    font-size: 100% !important;
}

.ssModalFooter{
    position: relative;
    height:50px;
    width:auto;
}

.ssModalBody{
    position: relative;
    height:200px;
    width:auto;
}

.nameTable{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 75%;
    height: auto;
    width: 30%;
    left: 35%;
    border-style: solid;
    border-width: 1px;
    border-color: #3d75c0;
    border-radius: 5px;
}


.navTable{
    width:500px;
    height:auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height:350px;
    margin-right: 20px;
}

.filtInput{
    position: relative;
    width: 40%;
    left: 30%;
    top: 3%;
}

.uploadGroup{
    display: inline-block;
    margin-top: 20px;
}

.upBtn{
    float: left;
}

.browseBtn{
    float: left;
}

.fileManageGroup{
    display: inline-block;
    margin-top: 20px;
}

.delBtn{
    float: left;
    margin-right: 100px;
    width: 150px;
}

.shareBtn{
    float: left;
    width: 150px;
}

.comGroup{
    width: 500px;
    float: left;
}

.doneBtn{
    margin-top: 50px;
}

@media (min-width: 1020px){
    .floatL{
        float: left;
    }
}

.alwaysFloat{
    float: left;
}

.ssShareBtn{
    margin-right: 300px;
}

.formatCloseBtn{
    margin-bottom: 20px;
}

.formatG{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navFiltInput{
    width: 40%;
    margin-left: 30%;
}