.navGroup{
    margin-top: 80px;
    position: relative;
    right: 20%;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.fileNav{
    margin-top: -50px;
    height:auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height:350px;
}

.sessionNav{
    margin-top: -50px;
    height:auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height:350px;
}

.userNav{
    margin-top: -50px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
}

.buttonGroup{
    margin-bottom: 60px;
}

.highlight{background-color: #2465bf;}

.lightlight{background-color: #7498c9;}