.navGroup{
    margin-top: -100px;
    position: relative;
    right: 20%;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.fileSesNavGroup{
    top: -100px;
    position: relative;
    right: 20%;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.fileNav{
    margin-top: -50px;
}

.sessionNav{
    margin-top: -50px;
}

.userNav{
    margin-top: -50px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
}

.buttonGroup{
    margin-bottom: 60px;
}

.highlight{background-color: #7498c9;}

.lightlight{background-color: #e6f2ff;}


.modFiltInput{
    width: 20%;
}

.userFileTable{
    width: 100%;
    height:auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height:350px;
    margin-right: 10px;
    margin-left: 27px;
    float: left;
}

.userSessionTable{
    width: 100%;
    height:auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height:350px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.fileNameTable{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 75%;
    height: auto;
    width: 30%;
    left: 35%;
    border-style: solid;
    border-width: 1px;
    border-color: #3d75c0;
    border-radius: 5px;
}

.sessionUserTable{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 75%;
    height: auto;
    width: 30%;
    left: 35%;
    border-style: solid;
    border-width: 1px;
    border-color: #3d75c0;
    border-radius: 5px;
}

.userFileFilt{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 6px;
}

.userSessionFilt{
    margin-top: -40px;
    margin-left: 370px;
}

.addS{
    margin-right: 30px;
    margin-left: 40px;
}
.addF{
    margin-right: 50px;
    margin-left: 70px;
}

.doubleGroupF{
    margin-top: 10px;
    float: left;
}

.doubleGroupS{
    margin-top: 10px;
    float: left;
}

.closeBtn{
    margin-top: 20px;
    margin-bottom: 10px;
}

.filtInput{
    margin-top: -50px;
    margin-bottom: 50px;
}

.singularFilt{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 6px;
}

.singleAdd{
    margin-right: 20px;
}

.singleGroup{
    margin-top: 10px;
}

.clearFloat{
    clear: both;
}

.notifications{
    margin-left: 45%;
    margin-top: 10%;
    width: 40%;
}

.delUser{
    margin-top: -5%;
}

.freezeChk{
    margin-left: 70%;
    margin-top: -5%;
}

.noneDet{
    margin-left: 5%;
}

.nested{
    z-index: 1042;
}

.outer{
    z-index: 1041;
}

.nestedTable{
    display: inline-block;
    width: 90%;
}

.fileModalBody{
    position: relative;
    height: 200px;
    width: auto;
}

.ssModalFooter{
    position: relative;
    margin-top: 30px;
    width: auto;
}

.margin-info{
    margin-top: -20px;
    margin-right: 10px;
}

.margin-text{
    font-size: 100% !important;
}


.fixedHead{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.scrollable{
    display: block;
    height: 350px;
    overflow: auto;
}