.loginInputs{
    display: inline-block;
}

td {
    padding: 10px;
}

.loginBtns{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

.floatClear {
    clear: both;
}

.loginBtn{
    float: left;
    margin-right: 100px;
}

.regBtn{
    float: left;
}