.margin-info{
    position: absolute;
    top:60px;
    right:10px;
}

.sessionName{ position:absolute; top: 105px; left:150px; font-weight:bold; border:1px dotted; padding:10px;}

.mainContent{
    width: 50%;
    overflow: hidden;
}

.plot{
    position: relative;
    margin-left: 200px;
    margin-top: 100px;
}

.floatL{
    float: left;
}

.floatR{
    width: 50%;
    float: left;
}

.clear{
    clear: both;
}

.buttons{
    margin-top: 200px;
    clear: both;
}

#remBackground{
    margin-top: 50px;
}

.rightIn{
    position: relative;
    left: 150px;
    bottom: 25px;
}

.leftIn{
    position: relative;
    left: 50px;
}

.flatRad{
    position: relative;
}

.flatLabel{
    position: relative;
    top: 20px;
    left: 20px;
}

.remFlat{
    position: relative;
    top: 25px;
    width: 350px;
    left: 50px;
}

.linearRad{
    position: relative;
}

.linLabel{
    position: relative;
    top: 35px;
    left: 20px;
}

.remLin{
    position: relative;
    top: 40px;
    width: 450px;
    left: 50px;
}

.remGiven{
    position: relative;
    top: 50px;
    width: 350px;
    left: 50px;
}

.avRad{
    position: relative;
    top: 50px;
    left: 36px;
}

.avLabel{
    position: relative;
    top: 48px;
    left: 20px;
}

.remBackModalFooter{
    position: relative;
    border-top: 1px solid #e5e5e5;
    height:70px;
    width:auto;
    padding-top: 20px;
}

.remBackModalBody{
    position: relative;
    height:160px;
    width:auto;
}

.form-control{
    margin-bottom:20px;
    width: 32%;
}

.centerBlock
{
    display: table;
    margin: 0 auto;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

body{
    margin: 0 0 30px;
}

html{
    position: relative;
    min-height: 100%;
}

.leftGroup{
    position: relative;
    height: 250px;
    width: 500px;
    margin-top: 100px;
    margin-left: -150px;
    border-style: solid;
    border-width: 1px;
    border-color: #3d75c0;
    border-radius: 5px;
}

.remLinText{
    position: relative;
    top: 6px;
    margin: 10px;
}

#leftButtons{
    position: relative;
    top: 20px;
    right: 70px;
}

.singleLeftButton{
    margin: 20px;
}

.output{
    position: relative;
    left: 400px;
}

.LGLabel{
    position: relative;
    top: 100px;
    left: 30px;
}

.yCalcLabel{
    position: relative;
    float: right;
    top: 40px;
    right: 64px;
}

.calcRightYLabel{
    margin-left: 30px;
}

.comment{
    position: relative;
    width: 350px;
    right: 40px;
}