{% from "__autoindex__/macros.html" import thead
with context %}

<!DOCTYPE html>
<!--This is how you comment-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initialscale=1" name="viewport">
    <title>Scandataproc</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link href="/static/format/navigator.css" rel="stylesheet">
    <script type="text/javascript" src="/static/format/select.js"></script>
    <link href="/static/format/teststyle.css" rel="stylesheet">
    <script type="text/javascript" src="/static/mpld3.v0.2.js"></script>


</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="login">
                Scandataproc
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="upload">
                        Manage Files
                    </a>
                </li>
                <li>
                    <a href="select">
                        Select Session
                    </a>
                </li>
                <li class="active">
                    <a href="data">
                        Format
                    </a>
                </li>
                <li>
                    <a href="process">
                        Process
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="fileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose a File</h4>
            </div>
            <div class="modal-body">
                {% block header %}{% endblock %}
                {% block table %}
                <table>
                    <thead>
                        {{ thead() }}
                    </thead>
                    <tbody>
                        {% if data %}
                            {% for post in data %}
                                {% if post.authed|int() == user.get_id()|int() %}
                                  <tr class="item" ondblclick="moveFile()">
                                    <td class="name" colspan="2" id="{{ post.id }}">
                                      {%- if post.name == ".." -%}
                                        Parent folder
                                      {%- else -%}
                                        {{ post.name }}
                                      {%- endif -%}
                                    </a></td>
                                    <td class="modified">
                                      <time datetime="{{ post.modified }}">{{ post.modified }}</time>
                                    </td>
                                    <td class="size">
                                      {% if post.size %}
                                        {{ post.size }}
                                      {% else %}
                                        -
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="ssModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Session As</h4>
            </div>
            <div class="ssModalBody">
                <div class="col-xs-6">
                    <br/>
                    <br/>
                    <br/>
                    <label for="ssName">Name:</label>
                    <input type="text" class="form-control" id="ssName">
                </div>
                <div class="col-xs-6">
                    <label for="ssComment">Comment:</label>
                    <textarea class="form-control" rows="5" id="ssComment"></textarea>
                </div>
            </div>
            <div class="ssModalFooter">
                <div class="col-xs-6">
                    <span class="centerBlock">
                        <button type="button" onclick="saveSes()" class="btn btn-primary btn-default" data-dismiss="modal">Save</button>
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="centerBlock">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="checkboxes" status="{{ session['checkboxes'] }}"/>
<div class="container data-select" role="main">
    <br/>
    <br/>
    <br/>
    <div class="margin-info">
        {% if user.is_anonymous() %}
            <p align="right">
                <a href="/login">Login</a>
                /
                <a href="/reg">Register</a>
            </p>
        {% else %}
            <p align="right">Logged in as {{ user.username }}
                <br/>
                <a href="/db">Logbook</a>
                <br/>
                <a href="/logout">Logout</a>
            </p>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">
                <br/>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#fileModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <br/>
                <br/>
                <button type="button" class="btn btn-primary btn-md" onclick="deleteCmeta()">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-xs-6">
                <label for="sel1">Select files to view:</label>
                <select multiple class="form-control" id="sel1">
                </select>
            </div>
            <div class="col-xs-5">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="bootbtn" id="AeListener">
                <input type="checkbox" id="againstE" data-toggle="toggle">
            </div>
            <div class="bootlbl">
                <label for="againstE">Plot against Energy</label>
            </div>
            <form id="meta-form" method=post action="" remote="true">
                <input type="hidden" name="idnum" id="idnum">
                <input type="hidden" name="agaE" id="agaE" value="{{ againstE }}">
                <div class="col-xs-6" id="metaForm_id">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-5">
                        <span class="centerBlock">
                            <button type="button" onclick="log()" class="btn btn-primary btn-sm" id="logbtn">
                                Add to Logbook
                            </button>
                        </span>
                    </div>
                    <div class="col-xs-1">
                        <p id="log_add">
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="row">
                        {{ form.ebool }}
                        <label style="width:300px;">{{ form.energy.label }}</label>
                        {{ form.energy }}
                    </div>
                    <div class="row">
                        {{ form.ecbool }}
                        <label style="width:300px;">{{ form.energyCalc.label }}</label>
                        From xtal angles
                    </div>
                    <div class="row">
                        {{ form.etcbool }}
                        <label style="width:300px;">{{ form.energyTempCalc.label }}</label>
                        From xtal angles & temps
                    </div>
                    <div class="row">
                        {{ form.a1bool }}
                        <label style="width:300px;">{{ form.xtal1A.label }}</label>
                        {{ form.xtal1A }}
                    </div>
                    <div class="row">
                        {{ form.a2bool }}
                        <label style="width:300px;">{{ form.xtal2A.label }}</label>
                        {{ form.xtal2A }}
                    </div>
                    <div class="row">
                        {{ form.t1bool }}
                        <label style="width:300px;">{{ form.xtal1T.label }}</label>
                        {{ form.xtal1T }}
                    </div>
                    <div class="row">
                        {{ form.t2bool }}
                        <label style="width:300px;">{{ form.xtal2T.label }}</label>
                        {{ form.xtal2T }}
                    </div>
                    <div class="row">
                        {{ form.tcbool }}
                        <label style="width:300px;">{{ form.tempCorr.label }}</label>
                        To energy scale
                    </div>
                    <div class="row">
                        {{ form.sbool }}
                        <label style="width:300px;">{{ form.signal.label }}</label>
                        {{ form.signal }}
                    </div>
                    <div class="row">
                        {{ form.snbool }}
                        <label style="width:300px;">{{ form.signalNorm.label }}</label>
                    </div>
                    <div class="row">
                        {{ form.nbool }}
                        <label style="width:300px;">{{ form.norm.label }}</label>
                        {{ form.norm }}
                    </div>
                    <div class="row">
                        {{ form.nfbool }}
                        <label style="width:300px;">{{ form.normFac.label }}</label>
                        At each data point
                    </div>
                    <div class="row">
                        {{ form.xbool }}
                        <label style="width:300px;">{{ form.extra.label }}</label>
                        {{ form.extra }}
                    </div>
                </div>
                <div class="col-xs-6" id="plot_spot">
                    <div id="plot">
                        {{code|safe}}
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="pull-right">
                                <button onclick="outputFile()" class="btn btn-primary btn-md" title="Display or save output file">
                                    Output
                                </button>
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-left">
                                <button onclick="advance()" class="btn btn-primary btn-lg" title="Proceed with files to processing">
                                    Process
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="fitGroup">
            <div class="row">
                <div class="input-group" id="peakGroup">
                    <div class="input-group-btn">
                        <button id="fitType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Fit around max<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="aroundMax()">Fit around max</a></li>
                            <li><a onclick="nearestPeak()">Fit around point</a></li>
                            <li><a onclick="atPoint()">Peak at point</a></li>
                        </ul>
                    </div>
                    <input type="text" id="peakLocation" class="form-control" aria-label="...">
                    <input type="text" class="form-control" id="localRange" style="display: none;">
                </div>
            </div>
            <div class="row">
                <div class="peakWidth">
                        <input type="text" id="pWInput" class="form-control" aria-label="..." placeholder="Peak fit range">
                </div>
                <div class="fitMeth">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="fitMethod" aria-haspopup="true"
                            aria-expanded="false">Centroid<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="fitMethdd" aria-labelledby="fitMethod">
                        <li><a>None yet implemented</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row dropup">
            <span class="fitBtn">
                <button class="btn btn-primary btn-md" onclick="fitPeak()" title="Apply selected fitting technique to plot">
                    Fit
                </button>
            </span>
            <div class="HRM-select">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="HRM" aria-haspopup="true"
                        aria-expanded="false">Fe-inline-1meV<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="HRMdd" aria-labelledby="HRM">
                    <li><a>Fe-inline-1meV</a></li>
                    <li><a>Sn-nested-1meV</a></li>
                    <li><a>Eu-nested-1meV</a></li>
                    <li><a>Dy-nested-1meV</a></li>
                    <li><a>IXS-cryo-1meV</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <span class="saveSes">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ssModal" title="Save this session so that it can be accessed later">
                    Save Session
                </button>
            </span>
        </div>
    </div>
    <div class="sessionName">
        <b class="sessionText" id="sesName">{{ ses }}</b>
    </div>
</div>
<script type="text/javascript" src="/static/format/checkbox.js"></script>
</body>
</html>