{% extends "Index.html" %}

{% from "__autoindex__/macros.html" import thead with context %}

{% block static %}
    <link href="/static/modifyDAT/modifyDAT.css" rel="stylesheet">
    <!--<script type="text/javascript" src="/static/mpld3.v0.3.js"></script>-->
    <script type="text/javascript" src="/static/modifyDAT/modifyDAT.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock static %}

{% block content %}
    <div id="remBackModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Background</h4>
            </div>
            <div class="remBackModalBody">

            </div>
            <div class="remBackModalFooter">
                <div class="col-xs-4">
                    <span class="centerBlock">
                        <button type="button" onclick="remBackground()" class="btn btn-primary btn-default" data-dismiss="modal">Apply</button>
                    </span>
                </div>
                <div class="col-xs-4">
                    <span class="centerBlock">
                        <button type="button" class="btn btn-primary btn-default" onclick="resetPlot()" data-dismiss="modal">Reset</button>
                    </span>
                </div>
                <div class="col-xs-4">
                    <span class="centerBlock">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container data-select" role="main">
    <br/>
    <br/>
    <br/>
    <div class="sessionName" id="sesName">
        {{ ses }}
    </div>
    <div id="mainContent">
        <div id="leftCol" class="floatL">
            <div class="comment">
                <label for="comment">Comment:</label>
                <textarea class="form-control comment" rows="5" id="comment" name="comment"></textarea>
            </div>
            <label for="leftGroup" class="LGLabel">Remove Background</label>
            <div id="leftGroup" class="leftGroup">
                <label for="flatRad" class="flatLabel">Flat Value</label>
                <div class="input-group remFlat">
                    <span class="input-group-addon">
                        <input type="radio" id="flatRad" name="methodRad" aria-label="...">
                    </span>
                    <input type="text" class="form-control" id="flatVal" placeholder="Y-Value" aria-label="...">
                </div>
                <label for="calcRad" class="linLabel">Calculated Average</label>
                <div class="yCalcLabel" class="yCalcLabel">
                    <font id="calcLeftYLabel">Left Y</font>
                    <font id="calcRightYLabel" class="calcRightYLabel">Right Y</font>
                </div>
                <div class="input-group remLin">
                    <span class="input-group-addon">
                        <input type="radio" id="calcRad" name="methodRad" aria-label="...">
                    </span>
                    <input type="text" class="form-control" id="calcLeftX" style="width:25%" placeholder="Left X" aria-label="...">
                    <input type="text" class="form-control" id="calcRightX" style="width:25%" placeholder="Right X" aria-label="...">
                    <font id="calcLeftY" class="remLinText" size="3"></font>
                    <font id="calcRightY" class="remLinText" size="3"></font>
                </div>
                <label for="givRad" class="avLabel">Given Average</label>
                <div class="input-group remGiven">
                    <span class="input-group-addon">
                        <input type="radio" id="givRad" name="methodRad" aria-label="...">
                    </span>
                    <input type="text" class="form-control" id="leftX" style="width:25%" placeholder="Left X" aria-label="...">
                    <input type="text" class="form-control" id="leftY" style="width:25%" placeholder="Left Y" aria-label="...">
                    <input type="text" class="form-control" id="rightX" style="width:25%" placeholder="Right X" aria-label="...">
                    <input type="text" class="form-control" id="rightY" style="width:25%" placeholder="Right Y" aria-label="...">
                </div>
            </div>
            <div id="leftButtons">
                <button type="button" class="btn btn-primary btn-default singleLeftButton" onclick="remBackground(0)">Apply</button>
                <button type="button" class="btn btn-primary btn-default singleLeftButton" onclick="remBackground(1)">Show</button>
                <button type="button" class="btn btn-primary btn-default singleLeftButton" onclick="resetPlot()">Reset</button>
            </div>
        </div>
        <div id="rightCol" class="floatR">
             <div id="process_plot" class="plot">
                {{code|safe}}
            </div>
            <form id="output-form" method=post action="">
                <input type="hidden" name="outType" id="outType">
                <input type="hidden" name="datFName" id="datFName">
            </form>
            <div class="text-center output" id="outputBtn">
                <button onclick="outputFile()" class="btn btn-primary btn-md" title="Display or save output file">
                    Output
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}