{% extends "layout.html" %}

{% block static %}
    <link rel="stylesheet" href="/static/upload/new_upload.css">

{% endblock static %}

{% block content %}
    <div class="content">
        <div class="jumbotron">
            <h3>Your Files</h3>
            <p>Upload or delete files to manage your database.</p>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-md" id="globusConnect" data-toggle="modal" data-target="#globusModal">Link with Globus</button><br><br>
                    <p>Enable popups for Globus.</p>
                </div>
                <div class="col-md-4">
                    <form id="fileForm" enctype="multipart/form-data">
                        <input type="file" name="file"  multiple>
                    </form>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-md" id="uploadBtn" title="Upload selected file to database" data-toggle="modal" data-target="#FileFormatModal">Upload File</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="tree"></div>
            </div>
            <div class="col-sm-6 text-center">
                <label>Comment:</label>
                <br/>
                <textarea class="form-control" rows="5" id="comment" name="comment"></textarea><br><br>
                <button id="newText" type="submit" class="btn btn-primary btn-lg doneBtn" onclick="saveNewComment()" title="Save the new comment">Save Comment</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="globusModal" tabindex="-1" role="dialog" aria-labelledby="globusModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle">Input Globus Authorization Code:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="globus-modal-body">
                    <input type="text" id="globusAuth" class="form-control" aria-label="..." placeholder="Gotten from globus autodirect">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Connect</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FileFormatModal" tabindex="-1" role="dialog" aria-labelledby="globusModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FileFormatModalTitle">Format File:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body next-to" id="FileFormat-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div>
        <!-- Form Here -->
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">File Info</legend>
                            <div class="form-group">
                                {{ form.files.label() }}
                                {{ form.files(class="form-control-file") }}
                                {% if form.files.errors %}
                                    {% for error in form.files.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    </form>
                    <!-- end of form -->
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="/static/upload/new_upload.js"></script>
    <!-- JSTree links -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var $y = jQuery.noConflict();
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
    <script type="text/javascript" src="/static/upload/tree.js"></script>
{% endblock scripts %}