{% extends "layout.html" %}

{% block static %}
    <link rel="stylesheet" href="/static/admin/a.css">
{% endblock static %}

{% block content %}
    <div class="content">
        <button class="btn btn-primary" onclick="show_user()">User</button>
        <button class="btn btn-primary" onclick="show_HRM()">HRM</button>
        <div class="row">
            <div class="col-md" id="user">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label for="searchUser" class="form-control-label">Search</label>
                        <input class="form-control" id="searchUser" type="text" placeholder="Search.."><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if users %}
                            <div class="table-responsive-sm" id="userTable">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">User</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td scope="row">{{ user.username }}</td>
                                                <td><a class="btn btn-primary btn-sm" href="{{ url_for('admin.update_user_profile', username=user.username) }}">View Profile</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <h3 class="text-center">No Users</h3>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md hide" id="HRM">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label for="searchHRM" class="form-control-label">Search</label>
                        <input class="form-control" id="searchHRM" type="text" placeholder="Search.."><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if hrms %}
                            <div class="table-responsive-sm">
                                <table class="table table-hover text-center" id="hrmTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">HRM</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for hrm in hrms %}
                                            <tr>
                                                <td scope="row">{{ hrm.name }}</td>
                                                <td><a class="btn btn-primary btn-sm" href="{{ url_for('admin.view_hrm', id_value=hrm.id) }}">View HRM</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-primary btn-sm" href="{{ url_for('admin.add_hrm') }}">Add HRM</a>
                        {% else %}
                            <h3 class="text-center">No HRMs</h3>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md">
                {% if notifications %}
                    <div class="table-responsive-sm">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in notifications %}
                                    <tr>
                                        <td scope="row">{{ task.type }}</td>
                                        <td>{{ task.originUser }}</td>
                                        <td>{{ task.timestamp }}</td>
                                        <td><a class="btn btn-success btn-sm" href="{{ url_for('admin.approve_user', id_value=task.id) }}">Approve</a></td>
                                        <td><a class="btn btn-danger btn-sm" href="{{ url_for('admin.decline_user', id_value=task.id) }}">Decline</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3 class="text-center">No Notifications</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="/static/admin/a.js"></script>
{% endblock scripts %}