{% extends "Index.html" %}

{% from "__autoindex__/select/macros.html" import thead with context %}

{% block static %}
    <link href="/static/select/view_output.css" rel="stylesheet">
    <link href="/static/select/navigator.css" rel="stylesheet">
    <script type="text/javascript" src="/static/select/add_file.js"></script>
{% endblock static %}

{% block content %}
    <div id="ssModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share Session With:</h4>
            </div>
            <div class="ssModalBody">
                <input type="text" class="form-control filtInput" placeholder="Username" id="ssName">
                <div class="nameTable">
                    <table id="nameTable">
                        <tbody>
                            {% if names %}
                                {% for name in names %}
                                    <tr>
                                        <td>{{ name.username }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                No Users Detected
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ssModalFooter">
                <div class="col-xs-6">
                    <span class="centerBlock">
                        <button type="button" onclick="shareSes()" class="btn btn-primary btn-default" data-dismiss="modal">Share</button>
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="centerBlock">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container data-select" role="main">
        <div class="jumbotron">
            <h3>Select How to Proceed</h3>
            <p>Choose to start a new session or continue a previous session.</p>
            <p class="smallText">Use browser zoom if everything does not fit on your screen (Ctrl and +/- or Cmd and +/-)</p>
        </div>
    </div>
    <div class="text-center">
        <button id="newSession" onclick="newSession()" class="btn btn-primary btn-lg stretcher" title="Begin a new session">Start New Session</button>
    </div>
    <br/>
    <br/>
    <div class="text-center">
        <div class="allCols">
            <div class="text-center floatL navBlock">
                <div class="searchLabel">Search:</div>
                <input type="text" class="form-control navFiltInput" placeholder="Session Name" id="navName">
                <div class="navTable" id="navTable">
                    <br/>
                    {% block header %}{% endblock %}
                    {% block table %}
                    <table id="sesPicker">
                        <thead class="fixedHead">
                            {{ thead() }}
                        </thead>
                        <tbody class="scrollable">
                            {% if data %}
                                {% for post in data %}
                                    {% set auths = post.authed.split(',') %}
                                    {% for aID in auths %}
                                        {% if aID|int() == user.get_id()|int() %}
                                          <tr class="item fixedHead">
                                            <td class="name" colspan="2" id="{{ post.id }}" data-type="{{ post.type }}">
                                              {%- if post.name == ".." -%}
                                                Parent folder
                                              {%- else -%}
                                                {{ post.name }}
                                              {%- endif -%}
                                            </a></td>
                                            <td class="modified">
                                              <time datetime="{{ post.modified }}">{{ post.modified }}</time>
                                            </td>
                                            <td class="size">
                                              {% if post.size %}
                                                {{ post.size }}
                                              {% else %}
                                                -
                                              {% endif %}
                                            </td>
                                          </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    {% endblock %}
                    <br/>
                </div>
                <div class="text-center">
                    <div class="manageButtons">
                        <button onclick="delFile()" class="btn btn-primary btn-xs delBtn" title="Remove all selected sessions from database">
                            Delete Session
                        </button>
                        <button class="btn btn-primary btn-xs shareBtn" data-toggle="modal" data-target="#ssModal" title="Share this session with another user">
                            Share Session
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center floatL">
                <div class="comGroup">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                    <button id="finito" disabled type="submit" class="btn btn-primary btn-lg" onclick="proceed()" title="Advance with all files to be used">
                        Confirm
                    </button>
                </div>
            </div>
            <br/>
        </div>
    </div>
{% endblock content %}